/* # para id y . para las clases. Ejemplo: .titulo, #titulo */ 
/* Tipos de visualizacion: inline, block, inline-block */

@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url();
    background-color: darkcyan;
}


#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 70px;
    
}

.subtitulo {
    color: white;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjetas-de-mokepon {
    color: white;
    background: #8FE3CF;
    width: 180px;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tarjetas-de-mokepon img {
    width: 70px;
    
}

#boton-mascotas {
    width: 140px;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

input { 
    display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.boton-de-ataque {
    background-color: #1cd6d6;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Alumni Sans Inline One', cursive;
}

.boton-de-agua {
    background-color: aqua;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Alumni Sans Inline One', cursive;
}

.boton-de-tierra {
    background-color: #A47E3B;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Alumni Sans Inline One', cursive;
}

input:checked+label {
    background-color: #A47E3B;
}

#mensajes {
    background-color: darkslategrey;
    margin: 10px;
    border: aquamarine;
    padding: 10px;
    border-radius: 20px;
    color: yellowgreen;
    width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar {
    border: transparent;
    color: saddlebrown;
    font-family: 'Alumni Sans Inline One', cursive;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
  }

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin: 10px;
}

@media (max-width: 560px) {
    .tarjetas, #tarjetas-ataques {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}